[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
dash = "==1.11.0"
requests = "*"
gunicorn = "*"
flask = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
